{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Search{% endblock %}

{% block content %}
    {% if query %}
        <h1>Посты, содержащие "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Найдено {{ total_results }} результата(ов)
            {% endwith %}
        </h3>
        {% for post in results %}
            <h4>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h4>
            {{ post.content|markdown|truncatechars_html:12 }}
        {% empty %}
            <p>Результатов поиска нет</p>
        {% endfor %}
        <p>
            <a href="{% url 'blog:post_search' %}">Искать снова</a>
        </p>
    {% else %}
        <h1>Искать посты</h1>
        <form method="GET">
            {{ form.as_p }}
            <input type="submit" value="Искать">
        </form>
    {% endif %}

{% endblock %}